In [25]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [26]:
# Tablas a procesar 
df_lideres = pd.read_csv("../Olist_Funnel_marketing/olist_marketing_qualified_leads_dataset.csv")
df_order_items = pd.read_csv("./olist_order_items_dataset.csv")
df_order_payments = pd.read_csv("./olist_order_payments_dataset.csv")

In [27]:
df_lideres.head()

,mql_id,first_contact_date,landing_page_id,origin
0,dac32acd4db4c29c230538b72f8dd87d,2018-02-01,88740e65d5d6b056e0cda098e1ea6313,social
1,8c18d1de7f67e60dbd64e3c07d7e9d5d,2017-10-20,007f9098284a86ee80ddeb25d53e0af8,paid_search
2,b4bc852d233dfefc5131f593b538befa,2018-03-22,a7982125ff7aa3b2054c6e44f9d28522,organic_search
3,6be030b81c75970747525b843c1ef4f8,2018-01-22,d45d558f0daeecf3cccdffe3c59684aa,email
4,5420aad7fec3549a85876ba1c529bd84,2018-02-21,b48ec5f3b04e9068441002a19df93c6c,organic_search

In [28]:
df_lideres.shape

(8000, 4)

In [29]:
df_lideres.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   mql_id              8000 non-null   object
 1   first_contact_date  8000 non-null   object
 2   landing_page_id     8000 non-null   object
 3   origin              7940 non-null   object
dtypes: object(4)
memory usage: 250.1+ KB

In [30]:
# Se pueden observar valores faltante en el campo "origin", en total son 60.

In [31]:
df_lideres[df_lideres["origin"].isna()]

,mql_id,first_contact_date,landing_page_id,origin
59,8e952443b19bfc5d0b90e6c4eabcb8fb,2018-01-28,21a104c3279681d9856b8a48723c4fee,NaN
74,280d8c73b56b79f1059539da36c7ae4a,2018-05-11,b76ef37428e6799c421989521c0e5077,NaN
123,0138fa79ed7cc7113e031e4ac11bd26a,2017-07-07,22c29808c4f815213303f8933030604c,NaN
126,e8432fb72c61c9066957124e5a420a05,2017-10-09,1722481ac9e5371e5099dea226b5421d,NaN
211,84f11ceb99dafe222dde3767eb4fe663,2018-03-26,d5559420f79579b9aa701a202c4bc7eb,NaN
223,99ba5c4097c6b8fef5ed774a1a6714b8,2018-05-26,58326e62183c14b0c03085c33b9fdc44,NaN
262,4bc2d171e7cff7fa3c2c4bd0bf5dabc4,2017-07-27,6404292b0f9a5594edf14be71ce4c221,NaN
596,e9fb2eda3d9c55a0d89c98d6c54b5b3e,2018-04-27,966098efaef7a4d665be6b0cb617541b,NaN
598,e0a30be9b1b30f4d56a2f1e1e760e536,2017-12-06,f98c2bd96ac4a5d9476734e790c91384,NaN
638,40d1075be60b9feb074947fb019cc6b4,2018-04-05,c70eb6fb5bd6e939b0d5ef32f21f61e8,NaN
703,657ad4f3e2afdf70f27fe834691fb65a,2017-11-29,da1a335179b8a9784d5733c7c7ada254,NaN
736,85410779053820c804ddc69ae4a48d9d,2018-04-02,8edd4451e41e482b32035dd8e8400ff4,NaN
1081,ca1e7c16062816dd5c888af7ea5afa0b,2017-07-28,22c29808c4f815213303f8933030604c,NaN
1110,adaedfcb189c2913db383791af9b8ec3,2018-03-06,3d75f6dd34b968151b3e86c9e28f1379,NaN
1165,67c34b9630469b3c13b7982316ffe7a1,2018-01-16,a623837d6a3000b3cd020295728e8252,NaN
1973,0b99dab71519032b917dc641cdd7ac5b,2017-06-14,d41d8cd98f00b204e9800998ecf8427e,NaN
2050,2ec0e064ff1ce7e35575be2cd7aa9431,2018-03-12,a7982125ff7aa3b2054c6e44f9d28522,NaN
2234,49117628ac2ccc7459e70c95fc9f55f1,2018-04-17,3aea860a87895eee6b72f666b3d7b98a,NaN
2326,6710565534bb35faf7fad5971cf885b3,2018-02-02,0c83f57c786a0b4a39efab23731c7ebc,NaN
2441,4da6c4d07033d355453ce49273d591c6,2018-05-18,0c83f57c786a0b4a39efab23731c7ebc,NaN
2456,5db413912b703e46bc1aaee48504bfae,2018-03-13,b360f694e319be64b87987476137d1a2,NaN
2537,f1a58918e5937cbf008a17b8ce77b579,2017-07-20,ce7bafe02f8fb1a3f15f52a9c239d0ef,NaN
2747,a8641042a65f0cb99c82df186d88b182,2018-02-19,1e884e3078d9978e216a027ecd57fb34,NaN
2836,169ea72d893b7bfe6a36b531a78b48af,2018-04-25,9fa37f5177115156b1814ffc237402a6,NaN
3201,5290b66ff9e0c1115614365d8e20f10c,2018-03-15,330b9d44078a1ae5a221d655dcb77afa,NaN
3427,0524bbc7d57d3edbd146cb19bbd4d1f2,2018-04-24,22c29808c4f815213303f8933030604c,NaN
3714,916cb4b04f32e307ee2a5c32c8d4f7b7,2018-04-18,e534a08b23c682d94859d0ab860bd57a,NaN
3737,9efa87e164995a7743eca9ad63029fa4,2018-04-05,7fa6214d82e911d070f51ef79381b956,NaN
3826,621461af90cadfdaf0e8d4cc25129f91,2018-04-02,c6f28f804cf6330e6de735ef6e6fe95c,NaN
4007,d2ac71782272659e7171150d20d59158,2018-05-14,a850a8a187e36cb07a8d06700d141993,NaN
4168,d41380111f8558d2a5a9da7a095bbd0f,2017-12-21,b3346ddd5d7b2edda306d8f531e58660,NaN
4230,947d64ec18585d216e88d3eef72267d2,2018-02-12,3cd2a8301d5395f21cdd3094c9eaa2f4,NaN
4428,28b666d0bbf15152aca966add171113d,2018-04-09,d41d8cd98f00b204e9800998ecf8427e,NaN
4942,d788c46ad6a6c020b5062c1a99f55b2c,2018-05-15,0c83f57c786a0b4a39efab23731c7ebc,NaN
4952,4b98e90ba839623e88d5b3d6dce56562,2017-12-14,99b00c6e27db383d844d1763dbcbfe06,NaN
5374,6b0ac5c5ab0f8939442c42704c5493b0,2018-05-25,9d72960ad2cfeaa46192fa3dba4e498e,NaN
5392,b51d0ceea431fc2d4569650b64bd22de,2018-05-21,22c29808c4f815213303f8933030604c,NaN
5726,9ff478a05056d2fe0d7d1e1dd9b35a5f,2018-01-23,80d35379df4ce2f5297acefc78f60907,NaN
5749,19f3ca179d09e8518d25a28d8e4e443f,2018-05-28,58326e62183c14b0c03085c33b9fdc44,NaN
5876,f5baaf0afe419681731ec3d30dafd954,2018-04-30,1ec5f5ec77c51a968271b2ca9862907d,NaN
5933,46a5a92c481d5d4e0478d68bad240fc6,2018-02-12,afff7cfc8b8e50b09fa8840a9cecd5dc,NaN
6030,2b35567523c67c1a9c32ef101ae7bc73,2018-03-14,2635743d5842a4475730345cf894efce,NaN
6289,d62e62abe24dcaa94f9e1b3678477b51,2018-03-15,da14b7e2eb0d1eecf65abbd05a31c87d,NaN
6365,eff2afaf73d134f6ea9eb98ff373426c,2018-05-02,f80696b73d17fb34f5c4fde157f119d8,NaN
6405,9e4903ea29841bc16eab71500292e9b0,2018-05-21,0c83f57c786a0b4a39efab23731c7ebc,NaN
6534,ad3a14270fa2d83b1fec766852384865,2018-02-12,1e884e3078d9978e216a027ecd57fb34,NaN
6565,61681a30d47dc8b1ec5180ccdec26ba5,2018-01-24,30077c17f2ec5010a82e37ad8925b95f,NaN
6641,33ce1e734d9d50629fa2c36769285d53,2017-07-11,d41d8cd98f00b204e9800998ecf8427e,NaN
6870,13170ed0153d4bc4d2c8bd6016634aaf,2018-02-26,f77960785994c89e81217aa876672703,NaN
6966,a6bf24ce0939b46b6536e02a3d244cc3,2018-02-27,6b6c0934205e87702519d1cce24055f9,NaN
7041,baf5ecd84c6a8766519b98f66eec1511,2018-05-10,6dca9fc31d8a95cdbcfafcc307012768,NaN
7118,66ff0b5dbb060ef47f756d33cf170f97,2018-04-30,b3346ddd5d7b2edda306d8f531e58660,NaN
7176,8d57c03206c460f9e9637e46b8337713,2018-05-19,5dc848e7dd9418dffe183215b8ff0bc1,NaN
7291,5ce7df80a9e32ee366f578e7ad3d290a,2017-08-09,d41d8cd98f00b204e9800998ecf8427e,NaN
7469,1785cff273aedbd875c814b46928ad7f,2018-05-08,22c29808c4f815213303f8933030604c,NaN
7518,9542f2f27285580fe8d6aa82e179ed28,2018-01-18,b3346ddd5d7b2edda306d8f531e58660,NaN
7573,7998e8b20a8a78bcc791977fee27fc81,2018-03-14,8345a83d419160e69c0501b494dadfa6,NaN
7685,7cc538b1337957dae283c30ad46def38,2018-05-01,58326e62183c14b0c03085c33b9fdc44,NaN
7710,6c1f11f779599fe6d280c41d644ed43b,2018-03-12,6b6c0934205e87702519d1cce24055f9,NaN
7878,5735438d64589c7672b1b246cc3b2b24,2018-04-05,1ceb590cd1e00c7ee95220971f82693d,NaN

In [32]:
# En lugar de dejar el valor NaN, realizamos el cambio por 'Sin Dato'
df_lideres["origin"] = df_lideres["origin"].fillna("Sin Dato")

In [33]:
# Se vizualiza el cambio realizado:
df_lideres[df_lideres["origin"] == "Sin Dato"]

,mql_id,first_contact_date,landing_page_id,origin
59,8e952443b19bfc5d0b90e6c4eabcb8fb,2018-01-28,21a104c3279681d9856b8a48723c4fee,Sin Dato
74,280d8c73b56b79f1059539da36c7ae4a,2018-05-11,b76ef37428e6799c421989521c0e5077,Sin Dato
123,0138fa79ed7cc7113e031e4ac11bd26a,2017-07-07,22c29808c4f815213303f8933030604c,Sin Dato
126,e8432fb72c61c9066957124e5a420a05,2017-10-09,1722481ac9e5371e5099dea226b5421d,Sin Dato
211,84f11ceb99dafe222dde3767eb4fe663,2018-03-26,d5559420f79579b9aa701a202c4bc7eb,Sin Dato
223,99ba5c4097c6b8fef5ed774a1a6714b8,2018-05-26,58326e62183c14b0c03085c33b9fdc44,Sin Dato
262,4bc2d171e7cff7fa3c2c4bd0bf5dabc4,2017-07-27,6404292b0f9a5594edf14be71ce4c221,Sin Dato
596,e9fb2eda3d9c55a0d89c98d6c54b5b3e,2018-04-27,966098efaef7a4d665be6b0cb617541b,Sin Dato
598,e0a30be9b1b30f4d56a2f1e1e760e536,2017-12-06,f98c2bd96ac4a5d9476734e790c91384,Sin Dato
638,40d1075be60b9feb074947fb019cc6b4,2018-04-05,c70eb6fb5bd6e939b0d5ef32f21f61e8,Sin Dato
703,657ad4f3e2afdf70f27fe834691fb65a,2017-11-29,da1a335179b8a9784d5733c7c7ada254,Sin Dato
736,85410779053820c804ddc69ae4a48d9d,2018-04-02,8edd4451e41e482b32035dd8e8400ff4,Sin Dato
1081,ca1e7c16062816dd5c888af7ea5afa0b,2017-07-28,22c29808c4f815213303f8933030604c,Sin Dato
1110,adaedfcb189c2913db383791af9b8ec3,2018-03-06,3d75f6dd34b968151b3e86c9e28f1379,Sin Dato
1165,67c34b9630469b3c13b7982316ffe7a1,2018-01-16,a623837d6a3000b3cd020295728e8252,Sin Dato
1973,0b99dab71519032b917dc641cdd7ac5b,2017-06-14,d41d8cd98f00b204e9800998ecf8427e,Sin Dato
2050,2ec0e064ff1ce7e35575be2cd7aa9431,2018-03-12,a7982125ff7aa3b2054c6e44f9d28522,Sin Dato
2234,49117628ac2ccc7459e70c95fc9f55f1,2018-04-17,3aea860a87895eee6b72f666b3d7b98a,Sin Dato
2326,6710565534bb35faf7fad5971cf885b3,2018-02-02,0c83f57c786a0b4a39efab23731c7ebc,Sin Dato
2441,4da6c4d07033d355453ce49273d591c6,2018-05-18,0c83f57c786a0b4a39efab23731c7ebc,Sin Dato
2456,5db413912b703e46bc1aaee48504bfae,2018-03-13,b360f694e319be64b87987476137d1a2,Sin Dato
2537,f1a58918e5937cbf008a17b8ce77b579,2017-07-20,ce7bafe02f8fb1a3f15f52a9c239d0ef,Sin Dato
2747,a8641042a65f0cb99c82df186d88b182,2018-02-19,1e884e3078d9978e216a027ecd57fb34,Sin Dato
2836,169ea72d893b7bfe6a36b531a78b48af,2018-04-25,9fa37f5177115156b1814ffc237402a6,Sin Dato
3201,5290b66ff9e0c1115614365d8e20f10c,2018-03-15,330b9d44078a1ae5a221d655dcb77afa,Sin Dato
3427,0524bbc7d57d3edbd146cb19bbd4d1f2,2018-04-24,22c29808c4f815213303f8933030604c,Sin Dato
3714,916cb4b04f32e307ee2a5c32c8d4f7b7,2018-04-18,e534a08b23c682d94859d0ab860bd57a,Sin Dato
3737,9efa87e164995a7743eca9ad63029fa4,2018-04-05,7fa6214d82e911d070f51ef79381b956,Sin Dato
3826,621461af90cadfdaf0e8d4cc25129f91,2018-04-02,c6f28f804cf6330e6de735ef6e6fe95c,Sin Dato
4007,d2ac71782272659e7171150d20d59158,2018-05-14,a850a8a187e36cb07a8d06700d141993,Sin Dato
4168,d41380111f8558d2a5a9da7a095bbd0f,2017-12-21,b3346ddd5d7b2edda306d8f531e58660,Sin Dato
4230,947d64ec18585d216e88d3eef72267d2,2018-02-12,3cd2a8301d5395f21cdd3094c9eaa2f4,Sin Dato
4428,28b666d0bbf15152aca966add171113d,2018-04-09,d41d8cd98f00b204e9800998ecf8427e,Sin Dato
4942,d788c46ad6a6c020b5062c1a99f55b2c,2018-05-15,0c83f57c786a0b4a39efab23731c7ebc,Sin Dato
4952,4b98e90ba839623e88d5b3d6dce56562,2017-12-14,99b00c6e27db383d844d1763dbcbfe06,Sin Dato
5374,6b0ac5c5ab0f8939442c42704c5493b0,2018-05-25,9d72960ad2cfeaa46192fa3dba4e498e,Sin Dato
5392,b51d0ceea431fc2d4569650b64bd22de,2018-05-21,22c29808c4f815213303f8933030604c,Sin Dato
5726,9ff478a05056d2fe0d7d1e1dd9b35a5f,2018-01-23,80d35379df4ce2f5297acefc78f60907,Sin Dato
5749,19f3ca179d09e8518d25a28d8e4e443f,2018-05-28,58326e62183c14b0c03085c33b9fdc44,Sin Dato
5876,f5baaf0afe419681731ec3d30dafd954,2018-04-30,1ec5f5ec77c51a968271b2ca9862907d,Sin Dato
5933,46a5a92c481d5d4e0478d68bad240fc6,2018-02-12,afff7cfc8b8e50b09fa8840a9cecd5dc,Sin Dato
6030,2b35567523c67c1a9c32ef101ae7bc73,2018-03-14,2635743d5842a4475730345cf894efce,Sin Dato
6289,d62e62abe24dcaa94f9e1b3678477b51,2018-03-15,da14b7e2eb0d1eecf65abbd05a31c87d,Sin Dato
6365,eff2afaf73d134f6ea9eb98ff373426c,2018-05-02,f80696b73d17fb34f5c4fde157f119d8,Sin Dato
6405,9e4903ea29841bc16eab71500292e9b0,2018-05-21,0c83f57c786a0b4a39efab23731c7ebc,Sin Dato
6534,ad3a14270fa2d83b1fec766852384865,2018-02-12,1e884e3078d9978e216a027ecd57fb34,Sin Dato
6565,61681a30d47dc8b1ec5180ccdec26ba5,2018-01-24,30077c17f2ec5010a82e37ad8925b95f,Sin Dato
6641,33ce1e734d9d50629fa2c36769285d53,2017-07-11,d41d8cd98f00b204e9800998ecf8427e,Sin Dato
6870,13170ed0153d4bc4d2c8bd6016634aaf,2018-02-26,f77960785994c89e81217aa876672703,Sin Dato
6966,a6bf24ce0939b46b6536e02a3d244cc3,2018-02-27,6b6c0934205e87702519d1cce24055f9,Sin Dato
7041,baf5ecd84c6a8766519b98f66eec1511,2018-05-10,6dca9fc31d8a95cdbcfafcc307012768,Sin Dato
7118,66ff0b5dbb060ef47f756d33cf170f97,2018-04-30,b3346ddd5d7b2edda306d8f531e58660,Sin Dato
7176,8d57c03206c460f9e9637e46b8337713,2018-05-19,5dc848e7dd9418dffe183215b8ff0bc1,Sin Dato
7291,5ce7df80a9e32ee366f578e7ad3d290a,2017-08-09,d41d8cd98f00b204e9800998ecf8427e,Sin Dato
7469,1785cff273aedbd875c814b46928ad7f,2018-05-08,22c29808c4f815213303f8933030604c,Sin Dato
7518,9542f2f27285580fe8d6aa82e179ed28,2018-01-18,b3346ddd5d7b2edda306d8f531e58660,Sin Dato
7573,7998e8b20a8a78bcc791977fee27fc81,2018-03-14,8345a83d419160e69c0501b494dadfa6,Sin Dato
7685,7cc538b1337957dae283c30ad46def38,2018-05-01,58326e62183c14b0c03085c33b9fdc44,Sin Dato
7710,6c1f11f779599fe6d280c41d644ed43b,2018-03-12,6b6c0934205e87702519d1cce24055f9,Sin Dato
7878,5735438d64589c7672b1b246cc3b2b24,2018-04-05,1ceb590cd1e00c7ee95220971f82693d,Sin Dato

In [34]:
# Tambien podemos observar el que el campo 'first_contact_date' es de tipo object, cuando deberia ser tipo datetime, realizamos el cambio:
df_lideres["first_contact_date"] = pd.to_datetime(df_lideres["first_contact_date"], format="%Y/%m/%d")

In [35]:
# Visualizamos el cambio realizado:
df_lideres.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   mql_id              8000 non-null   object
 1   first_contact_date  8000 non-null   datetime64[ns]
 2   landing_page_id     8000 non-null   object
 3   origin              8000 non-null   object
dtypes: datetime64[ns](1), object(3)
memory usage: 250.1+ KB

In [36]:
# Continuamos con la siguiente tabla:
df_order_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [37]:
df_order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [14]:
# Se puede observar que no contiene ningun valor faltante en sus columnas, pero igual que anteriormente posee
# el campo 'shipping_limit_date' el cual deberia ser de tipo datetime y es de tipo object, realizamos el cambio:
df_order_items["shipping_limit_date"] = pd.to_datetime(df_order_items["shipping_limit_date"], format="%Y/%m/%d")

In [15]:
# Implemento función que permite detectar Outliers, la cual retorna una lista, donde el primer elemento es el porcentaje que respresentan los
# Outliers encontrados sobre el total de datos de la columna en cuestión, y el segun valor de la lista es la ubicación de los Outliers.
def calculo_porcentaje_outliers(df, columna):
    q1 = df[columna].quantile(0.25)
    q3 = df[columna].quantile(0.75)
    rango = q3 - q1
    bi = (q1 - 1.5 * rango)
    bs = (q3 + 1.5 * rango)
    ubic_out = ((df[columna] < bi) | (df[columna] > bs))
    outliers = df[ubic_out].shape[0]
    total_reg = df.shape[0]
    porcentaje = outliers / total_reg
    resultado = [round(porcentaje * 100, 3), ubic_out]
    return resultado

In [16]:
# Identificando outliers en las columnas:
lista_resultado = calculo_porcentaje_outliers(df_order_items, "price")
print("El porcentaje de otliers en los pagos es de:", lista_resultado[0], "%")

El porcentaje de otliers en los pagos es de: 7.481 %

In [17]:
lista_resultado = calculo_porcentaje_outliers(df_order_items, "freight_value")
print("El porcentaje de otliers en los pagos es de:", lista_resultado[0], "%")

El porcentaje de otliers en los pagos es de: 10.771 %

In [18]:
# Lo outliers son los siguientes:
df_order_payments[lista_resultado[1]].sort_values("payment_value")
# Se pueden ver visualizados por orden de menor a mayor segun su valor:

C:\Users\Usuario\AppData\Local\Temp\ipykernel_14600\2079911635.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_order_payments[lista_resultado[1]].sort_values("payment_value")

,order_id,payment_sequential,payment_type,payment_installments,payment_value
51280,4637ca194b6387e2d538dc89b124b0ee,1,not_defined,1,0.00
17931,0218c7a4fb8d5b1bd22c82b783b8359c,1,credit_card,1,0.01
49555,d8c4293616878e2f015351d8f1445880,1,credit_card,1,0.05
16809,2122719f6fc72fba16b0b3001d539a7e,1,credit_card,1,0.09
33740,10cba0be7bc27288b512d87a719b97e5,1,credit_card,1,0.22
...,...,...,...,...,...
21815,53c71d3953507c6239ff73917ed358c9,1,credit_card,10,3184.34
42886,1d54db601b417ccdfd3b7071955e6cc7,1,credit_card,5,3209.72
3251,66b9c991ee308f9342f6a7f63bb68251,1,credit_card,5,3358.24
6440,199af31afc78c699f0dbf71fb178d4d4,1,credit_card,8,4764.34
41419,0812eb902a67711a1cb742b3cdaa65ae,1,credit_card,8,6929.31

In [19]:
# Continuamos con la ultima tabla
df_order_payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [20]:
# Se puede observar que no hay valores faltantes
df_order_payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [21]:
lista_resultado = calculo_porcentaje_outliers(df_order_payments, "payment_value")
print("El porcentaje de otliers en los pagos es de:", lista_resultado[0], "%")

El porcentaje de otliers en los pagos es de: 7.682 %

In [22]:
# Lo outliers son los siguientes:
df_order_payments[lista_resultado[1]].sort_values("payment_value")
# Se pueden ver visualizados por orden de menor a mayor segun su valor:

,order_id,payment_sequential,payment_type,payment_installments,payment_value
76432,39b208d309c95588bf7a4ae2f20b9232,1,boleto,1,344.44
97544,1248580ae351357ac7a36fc314df5268,1,credit_card,2,344.51
65435,973f8af1ff32939821869513562a0978,1,credit_card,8,344.51
90112,ff85f6534f8a6b89e27a340dcf86ecac,1,credit_card,8,344.51
75424,b3f352a3b3887a501a98642fa5840e66,1,credit_card,4,344.53
...,...,...,...,...,...
85539,f5136e38d1a14a4dbd87dff67da82701,1,boleto,1,6726.66
49581,fefacc66af859508bf1a7934eab1e97f,1,boleto,1,6922.21
41419,0812eb902a67711a1cb742b3cdaa65ae,1,credit_card,8,6929.31
34370,736e1922ae60d0d6a89247b851902527,1,boleto,1,7274.88
52107,03caa2c082116e1d31e67e9ae3700499,1,credit_card,1,13664.08